.status1{
    border: 1px solid black;
    height: 100px;
    width: 200px;
}

.header{
    text-wrap: nowrap;
    text-align: center;
    border-bottom: 1px solid black;
    height: 49px;
}

.content{
    background-color: rgb(146, 208, 80);
    height: 50px;
    color: white;
    font-weight: bold;
}

h3,h4{
    margin: 0;
    text-align: center;
    margin-top: 12.5px;

}
.header, .content{
    display: inline-block;
    width: 100%;
}
section{
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.content2{
    background-color: rgb(201, 142, 32);
    height: 50px;
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}
input{
    background-color:rgb(201, 142, 32) ;
    border: none;
    text-align: center;
    color: white;
    font-weight:bold ;
}